/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Righteous";
    src: url("../fonts/Roboto-Black.ttf");
    src: url("../fonts/Roboto.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Roboto;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

.logo {
    width: 75%;
    float: left;
}

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg-dark {
    background-color: transparent !important;
}

.navbar-dark .navbar-toggler {
    color: #000;
    border-color: transparent !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../images/toggle-icon.png);
    width: 50px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 129px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #ffffff;
    font-weight: bold;
}

.font_size_90 {
    font-size: 80px;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
}

.taital_main {
    padding-left: 50px;
}

.book_bt {
    width: 170px;
    float: left;
    margin-top: 10px;
}

.book_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background-color: #ffd35a;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 9px 0px;
}

.book_bt a:hover {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.carousel-indicators li {
    width: 18px;
    height: 18px;
    border-radius: 100px;
    background-color: #f9f9fb;
    top: 90px;
}

.carousel-indicators .active {
    background-color: transparent !important;
    border: 2px solid #f9f9fb;
}

.search_section {
    float: left;
}

.search_section ul {
    margin: 0px;
    padding: 0px;
}

.search_section li {
    float: left;
    padding: 0px 15px;
    font-size: 18px;
    color: #ffffff;
}

.search_section li a {
    color: #ffffff;
}

.button_main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}

.all_text {
    color: #ffffff;
    background-color: #424242;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 18px;
    position: relative;
}

.search_text {
    color: #ffffff;
    background-color: #ffd35a;
    padding: 10px 40px;
    border-radius: 3px;
    font-size: 18px;
}

.Enter_text {
    color: #cbc8c8;
    background-color: #ffffff;
    padding: 10px 40px 10px 20px;
    font-size: 18px;
    width: 60%;
    border: 0px;
    box-shadow: 0px 0px 7px 3px #f3f3f3;
    margin-bottom: 20px;
}

#my_slider a.carousel-control-next {
    position: absolute;
    left: 100px;
    top: 76%;
}

#my_slider .carousel-control-prev,
#my_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #464646;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}

#my_slider a.carousel-control-prev {
    position: absolute;
    left: 70px;
    top: 62%;
    background-color: #252525;
}

#my_slider .carousel-control-prev,
#my_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #ffd35a;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}

#my_slider .carousel-control-prev:hover,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-next:focus {
    background: #ffd35a;
    color: #fff;
}

.category_section {
    width: 100%;
    float: left;
    border: 2px solid #797979;
    border-radius: 60px;
    padding: 10px 0px 0px 0px;
    margin-top: 90px;
}

.main {
    display: flex;
}

.category_text {
    width: 100%;
    float: left;
    font-size: 26px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

.box_main {
    width: 100%;
    float: left;
    text-align: center;
}

.box_main:hover .fashion_text {
    color: #0f0e0c;
}

.box_main:hover .icon_2 {
    background-image: url(../images/icon-6.png);
}

.box_main:hover .icon_3 {
    background-image: url(../images/icon-7.png);
}

.box_main:hover .icon_4 {
    background-image: url(../images/icon-8.jpg);
}

.box_main:hover .icon_5 {
    background-image: url(../images/icon-9.jpg);
}

.fashion_text.active {
    color: #000;
}

.icon_1 {
    width: 50px;
    margin: 0 auto;
    background-image: url(../images/icon-1.jpg);
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
}

.icon_2 {
    width: 50px;
    margin: 0 auto;
    background-image: url(../images/icon-2.png);
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
}

.icon_3 {
    width: 40px;
    margin: 0 auto;
    background-image: url(../images/icon-3.png);
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
}

.icon_4 {
    width: 50px;
    margin: 0 auto;
    background-image: url(../images/icon-4.png);
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
}

.icon_5 {
    width: 50px;
    margin: 0 auto;
    background-image: url(../images/icon-5.jpg);
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
}

.fashion_text {
    width: 100%;
    float: left;
    font-size: 17px;
    text-align: center;
    color: #9a9a99;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 20px;
}

.category_section_2 {
    width: 100%;
    float: left;
    margin-top: 90px;
    padding-bottom: 90px;
}

.beds_section {
    width: 100%;
    float: left;
    background-color: #faf8f8;
    border-radius: 3px;
    padding: 10px;
}

.beds_section.active {
    background-color: #ffffff;
    box-shadow: 0px 1px 10px 1px #888888;
}

.beds_section:hover {
    background-color: #ffffff;
    box-shadow: 0px 1px 10px 1px #888888;
}

.bed_text {
    width: 100%;
    float: left;
    color: #131313;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.image_2 {
    width: 90%;
    float: left;
    text-align: center;
    min-height: 280px;
    padding-top: 40px;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #373637;
    text-align: center;
    background-color: transparent !important;
    padding: 9px;
    text-transform: uppercase;
    margin-top: 50px;
}

.beauty_section {
    width: 100%;
    float: left;
    background-color: #faf8f8;
    height: auto;
    padding: 50px 0px;
}

.beauty_box {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 30px;
}

.image_3 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 40px;
    min-height: 260px;
}

.beauty_box_1 {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 30px;
}

.bed_text_1 {
    width: 100%;
    float: left;
    color: #131313;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.seemore_bt_1 {
    width: 170px;
    float: right;
}

.seemore_bt_1 a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #373637;
    text-align: center;
    background-color: transparent !important;
    padding: 9px;
    text-transform: uppercase;
    margin-top: 50px;
}

.product_section {
    width: 100%;
    float: left;
}

.feature_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #373637;
    font-weight: bold;
}

.feature_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #373637;
    margin-left: 0px;
    margin-top: 0px;
}

.product_section_2 {
    width: 100%;
    float: left;
    padding-top: 90px;
}

.feature_box {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 1px 10px 1px #888888;
}

.image_7 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 20px;
}

.readable_text {
    width: 100%;
    float: left;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #141414;
    font-weight: bold;
}

.feature_box_1 {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 1px 10px 1px #888888;
    margin-top: 20px;
}

.feature_box_2 {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 1px 10px 1px #888888;
}

.image_8 {
    width: 87.6%;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 20px;
}

.client_section {
    width: 100%;
    float: left;
    padding-bottom: 130px;
}

.client_section_2 {
    width: 90%;
    float: left;
    background-color: #fff;
    margin-left: 100px;
    box-shadow: 0px 1px 10px 1px #888888;
    padding: 25px;
    margin-top: 75px;
}

.nolmal_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #373637;
    font-weight: bold;
}

.ipsum_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #373637;
    margin-left: 0px;
}

.client_section::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 410px;
    background-color: #853de5;
    left: 0px;
    right: 0px;
    z-index: -1;
    margin-top: 140px;
    margin-left: 160px;
}

#main_slider a.carousel-control-next {
    position: absolute;
    right: 200px;
    top: 92%;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #464646;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 75%;
    top: 92%;
    background-color: #853de5;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #252525;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
    background: #853de5;
    color: #fff;
}

.newsletter_section {
    width: 100%;
    float: left;
    background-image: url(../images/newsletter-bg.jpg);
    height: auto;
    padding-bottom: 90px;
}

.conect_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.newsletter_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

.newsletter_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
}

.input-group {
    width: 70%;
    margin: 0 auto;
    border-bottom: 2px solid #ffff;
    padding-bottom: 5px;
    padding-top: 30px;
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-radius: 40px;
}

.input-group-text {
    padding: 8px 40px;
    font-size: 18px;
    font-weight: 400;
    color: #5d447f;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff;
    border-bottom: 1px solid #ced4da !important;
    text-transform: uppercase;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem 20px 0px 0px;
    font-size: 18px;
    line-height: 1.5;
    color: #9e6ae4;
    background-color: transparent !important;
    background-clip: padding-box;
    border-bottom: 0!important;
    border: 0px;
    border-radius: 0px;
    transition: border-color 0s ease-in-out, box-shadow 0s ease-in-out !important;
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.dummy_text {
    width: 65%;
    float: left;
    font-size: 16px;
    color: #b6b6b6;
    margin-left: 0px;
}

.information_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fff;
}

.many_text {
    width: 54%;
    float: left;
    font-size: 16px;
    color: #abaaaa;
    margin-left: 0px;
    line-height: 40px;
    margin-top: 0px;
}

.call_text {
    width: 100%;
    float: left;
    color: #b6b6b6;
    font-size: 16px;
    margin: 0px;
    padding-top: 10px;
}

.call_text a {
    color: #b6b6b6;
}

.social_icon {
    width: 100%;
    float: left;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
}

.social_icon li {
    float: left;
    padding: 20px 9px 0px 0px;
}

.copyright_section {
    width: 100%;
    float: left;
    margin-top: 55px;
    text-align: center;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
    padding: 40px 0px 20px 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #878686;
}

.copyright_text::after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 600px;
    text-align: center;
    right: 0;
    top: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 1px;
    left: 0;
    border-radius: 100px;
}

.contact_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.touch_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1d1c1c;
    font-weight: bold;
    text-align: center;
}

.contact_section_2 {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.email_text {
    width: 100%;
    float: left;
    padding: 20px 20px 20px 20px;
}

.email-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #2a2a2c;
    margin-bottom: 20px;
    padding: 8px 15px;
    border: 1px solid #909090;
}

.massage-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #2a2a2c;
    margin-bottom: 20px;
    padding: 40px 15px 8px 15px;
    border: 1px solid #909090;
    height: 120px;
}

.send_btn {
    width: 170px;
    float: left;
}

.send_btn a {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #bf3d42;
    padding: 10px;
    border-radius: 30px;
}

.map_main {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.navbar-toggler {
    padding: .25rem 0px;
}

.navbar {
    padding: .5rem 0px;
}

